/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.side-bar-btn{
  -fx-background-color: #41519D;
  -fx-cursor: hand;
}

.side-bar-btn:hover {
  -fx-background-color: #3E4D96;
}

.side-bar-btn:pressed{
  -fx-background-color: #C5CED9;
}


